body {
    font-family: "sharktooth", sans-serif, -apple-system;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #ffffff; 
}

h1 {
    margin-top: 60px;
    font-family: "sharktooth", sans-serif, -apple-system!important;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.6;
    color: #056478;
}

.amount-wrapper .slider-wrapper .slider input[type="range"] {
    background-color: #fafafa;
}

.callout {
    color: #ffffff;
}

.step-index {
    margin-top: 90px;
}

.image-wrapper .visible, .image-wrapper .visible .hidden, .amount-image .image-wrapper img  {
    max-height: 300px!important;
    width: auto!important;
}

.thankyou-wrapper, .doi .row::before h1 {
    color: #056478;
}
